<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Tesla Moderation</title>
  <link rel="stylesheet" media="screen" href="/css/normalize.css">
  <link rel="stylesheet" media="screen" href="/css/moderator.css">
</head>
<body>
  <h1><a href="/">Tesla Moderation</a></h1>
  <table>
    <tr>
      <th>Username</th>
      <th>Email</th>
      <th>IP</th>
      <th>Points</th>
      <th>Answers</th>
      <th></th>
    </tr>
{{#pendingUsers}}
      <tr>
        <td>{{username}}</td>
        <td>{{email}}</td>
        <td>{{ip}}</td>
        <td>{{points}}</td>
        <td>
          <h4>{{question1}}</h4>
          <p>
            {{answer1}}
          </p>
          <h4>{{question2}}</h4>
          <p>
            {{answer2}}
          </p>
          <h4>{{question3}}</h4>
          <p>
            {{answer3}}
          </p>
        </td>
        <td>
          <form action="/approve-registration" method="post">
            <input type="hidden" name="userId" value="{{_id}}">
            <button type="submit">Approve</button>
          </form>
          <form action="/deny-registration" method="post">
            <input type="hidden" name="userId" value="{{_id}}">
            <button type="submit">Delete</button>
          </form>
        </td>
      </tr>
    </form>
{{/pendingUsers}}
  </table>
  <form action="/logout" method="post">
    <button class="submit logout">Logout</button>
  </form>
</body>
</html>
