<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Tesla Moderation</title>
  <link rel="stylesheet" media="screen" href="/css/normalize.css">
  <link rel="stylesheet" media="screen" href="/css/moderator.css">
</head>
<body>
  <form action="/login" method="post">
    <p>
      <label>Username:</label>
      <input type="text" name="username">
    </p>
    <p>
      <label>Password:</label>
      <input type="password" name="password">
    </p>
    <button type="submit">Login</button>
  </form>
</body>
</html>
