<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Tesla Moderation</title>
  <link rel="stylesheet" media="screen" href="/css/normalize.css">
  <link rel="stylesheet" media="screen" href="/css/moderator.css">
</head>
<body>
  <h1><a href="/">Tesla Moderation</a></h1>
  <form action="/questions" method="post">
    <label for="question_detail">Question detail:</form>
    <textarea id="question_detail" name="detail"></textarea>
    <button type="submit">Create</button>
  </form>
  <br><br><br>
  <table>
    <tr>
      <th>Question text</th>
      <th>Enabled</th>
      <th></th>
    </tr>
{{#questions}}
    <form action="/editquestion" method="post">
      <input type="hidden" name="id" value="{{_id}}">
      <tr>
        <td><textarea name="detail" cols="40" rows="5">{{detail}}</textarea></td>
        <td><input type="checkbox" name="enabled" {{#enabled}}checked{{/enabled}}></td>
        <td><button type="submit">Update</button></td>
      </tr>
    </form>
{{/questions}}
  </table>
  <form action="/logout" method="post">
    <button class="submit logout">Logout</button>
  </form>
</body>
</html>
